<!-- 

  Datei wurde von: @Michel Djifack fertig gestelt!
-->
<!DOCTYPE html>
<html lang="de">

<head>
    <title> Bibliothek-Details</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/biblioDetails.css" rel="stylesheet">
</head>

<body>
    <%-include('header.ejs', {variant:'Bibliothek-Details'}); %>
        <main>
            <p>Auf dieser Seite wird Ihnen eine Liste aller empfohlenen B端chern zur Verf端gung gestellt. <br> Wenn Sie auf den Namen des jeweiligen Kameraden klicken, der Ihnen das Buch zur Verf端gung stellt, erhalten Sie Informationen 端ber seine Gruppe.
            </p>
            <%let i=0;%>
                <% for (let elem of persArray) { %>
                    <div class="item" id="<%=bookArray[i].isbn%>">
                        <p id="<%=elem.name%>">
                            Hallo Zusammen, <br>
                            <a href="DetailsGroup#<%=elem.name%>">
                                <%=elem.name%>,
                                    <%=elem.vorname%>
                            </a> empfiehlt Ihnen, das folgende Buch zu besorgen.

                        </p>
                        <p>
                            Titel:
                            <%=bookArray[i].titel%><br> Autor(en):
                                <%=bookArray[i].autor%><br> ISBN/DOI:
                                    <%=bookArray[i].isbn%><br> lageplan:
                                        <%=bookArray[i].position%><br> Ort:
                                            <%=bookArray[i].ort%><br>
                        </p>
                    </div>
                    <hr class="line">
                    <% i++;%>
                        <% } %>
        </main>
        <%- include("footer.ejs") %>
</body>

</html>