<!-- 

  Datei wurde von: xxxxxxxxxxxxxxxxx fertig gestelt!
-->
<!DOCTYPE html>
<html lang="de">

<head>
    <title> Gruppe Details</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/Detailsgroup.css" rel="stylesheet">
    <!-- <link href="css/listStudy.css" rel="stylesheet"> -->
</head>

<body>
    <%-include('header.ejs', {variant:'Gruppe Details'}); %>
        <main>
            <div>
                <p>
                    Hier finden Sie verschiedene Informationen über die verschiedene Gruppe.
                </p>
            </div>
            <div id="container-uebersicht">
                <!-- hier werden wir kleine Visit Karten für Studenten erzeugen -->
                <%for (let g of group) { %>

                <!--    <div class="box-feld">
                          
                         
                            <h4>GruppeName:
                                <%=g.GruppeName%>
                            </h4>
                            <ul>
                                <li>AdminName:
                                    <%=g.AdminName%>
                                </li>
                                <li>ModulleZiel :
                                    <%=g.ModulleZiel %>
                                </li>
                                <li>GruppenRaum:
                                    <%=g.GruppenRaum%>
                                </li>
                                <li>GruppenLink:
                                    <%=g.GruppenLink%>
                                </li>
                                <li>Anfangsdatum:
                                    <%=g.Anfangsdatum%>
                                </li>
                                <li>Endsdatum:
                                    <%=g.Endsdatum%>
                                </li>
                                <li>AnzahlTeilnehmer:
                                    <%=g.AnzahlTeilnehmer%>
                                </li>
                            </ul>
                    </div>-->
                    <div class="groupDetails">
                

                         <h4>GruppeName:
                            <%=g.GruppeName%>
                        </h4>
                        <ul class="list">
                            <li>AdminName: <%=g.AdminName%>
                                
                            </li>
                            <li>ModulleZiel : <%=g.ModulleZiel %>
                                
                            </li>
                            <li>GruppenRaum: <%=g.GruppenRaum%>
                                
                            </li>
                            <li>GruppenLink: <%=g.GruppenLink%>
                                
                            </li>
                            <li>Anfangsdatum: <%=g.Anfangsdatum%>
                                
                            </li>
                            <li>Endsdatum: <%=g.Endsdatum%>
                                
                            </li>
                            <li>AnzahlTeilnehmer: <%=g.AnzahlTeilnehmer%>
                                
                            </li>
                        </ul>
                    </div>

                    
                    <br>
                    <% }%>
                   
            </div>
           
        </main>
        <%- include("footer.ejs") %>
</body>

</html>