<!-- 

  Datei wurde von: @Daniele Fofack fertig gestelt!
-->

<!DOCTYPE html>
<html lang="de">

<head>
    <title> FormStudy</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/listStudy.css" rel="stylesheet">
</head>

<body>
    <%- include('header.ejs', {variant:'Liste der Study Helfer'}); %>
        <main>
            <p>Die folgende Tabelle gibt Ihnen Auskunft über die Studenten, die in verschiedenen Fächern Hilfe anbieten.</p>
            <p>Sie können auf den Namen eines Student(in) klicken, um weitere Informationen über ihn zu erhalten.</p>
            <table id="callTable">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Vorname</th>
                        <th>Fachbereich</th>
                        <th>Studiengang</th>
                        <th>Module</th>
                        <th>Hochschule/Universität</th>
                </thead>
                <tbody>
                    <% for (let elem of studyTable) { %>
                        <tr>
                            <td>
                                <a href="DetailsStudy#<%=elem.name%>">
                                    <%=elem.name%>
                                </a>
                            </td>
                            <td>
                                <%=elem.vorname%>
                            </td>
                            <td>
                                <%=elem.fachbereich%>
                            </td>
                            <td>
                                <%=elem.studiengang%>
                            </td>
                            <td>
                                <%=elem.module%>
                            </td>
                            <td>
                                <%=elem.hochschule%>
                            </td>
                        </tr>
                        <% } %>

                </tbody>
                <tbody>
                </tbody>
            </table>
        </main>
        <%- include("footer.ejs") %>
</body>

</html>